@page
@model MovieTheater.Pages.Staff.ShowtimesModel

@{
    ViewData["Title"] = "Staff";
}

<h1>Lịch chiếu</h1>
<form>
    <div class="form-inline mb-3">
        <label class="mr-2">Phim: </label>
        <select asp-for="MovieSearch" asp-items="Model.MovieList" class="form-control">
            <option value="">Tất cả</option>
        </select>
        <label class="mr-2">Ngày: </label>
        <select asp-for="StartTimeSearch" asp-items="Model.TimeList" class="form-control">
            <option value="">Tất cả</option>
        </select>
        <input type="submit" value="Lọc" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Showtime[0].Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showtime[0].Theater.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Showtime[0].StartTime)
            </th>
            <th>
                Số ghế
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Showtime) {
        <tr>
            <td>
                @item.Movie.Title
            </td>
            <td>
                @item.Theater.Name
            </td>
            <td>
                @Model.getStartTimeFormatted(item)
            </td>
            <td>
                @Model.getNoSeatLeft(item) / @item.Theater.NoSeat
            </td>
            <td>
                <a asp-page="./Sellticket" class="btn btn-primary" asp-route-ShowtimeID="@item.ID">Mua vé</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.Showtime.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Showtime.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index"
    asp-route-currentMovieSearch="@Model.MovieSearch"
    asp-route-currentStartTimeSearch="@Model.StartTimeSearch"
    asp-route-pageIndex="@(Model.Showtime.PageIndex - 1)"
    class="btn btn-primary @prevDisabled">
    Trước
</a>
<a asp-page="./Index"
    asp-route-currentMovieSearch="@Model.MovieSearch"
    asp-route-currentStartTimeSearch="@Model.StartTimeSearch"
    asp-route-pageIndex="@(Model.Showtime.PageIndex + 1)"
    class="btn btn-primary @nextDisabled">
    Sau
</a>